.header {
	background-color: #272727;
	color: #fff;
	padding: 1rem 0;
}

.header .wrapper {
	width: 80%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo h1 {
	color: #fff;
	text-transform: uppercase;
}
